MONGO_URI=mongodb+srv://<user>:<password>@cluster0.example.mongodb.net/?appName=Cluster0
JWT_SECRET=replace_with_64_char_random_hex_string
PORT=5000
ALLOWED_EMAIL_DOMAINS=in-quest.co.in,inquest.global
